# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Local database backups
*.sqlite3
backup.json
data.json
db_backup.sqlite3

# Data migration scripts
copy_*.py
backup.py

# Environment variables
.env

# VS Code
.vscode/