{% extends 'base.html' %}

{% block title %}
Login | PrepArena
{% endblock %}

{% block content %}

<div class="row justify-content-center my-5">

    <div class="col-md-6 col-lg-5">

        <div class="card shadow-lg border-0 rounded-4">

            <div class="card-body p-5">

                <div class="text-center mb-4">

                    <h2 class="fw-bold">
                        Welcome Back 👋
                    </h2>

                    <p class="text-muted">
                        Login to continue your interview preparation.
                    </p>

                </div>

                {% if form.non_field_errors %}

                <div class="alert alert-danger">

                    {{ form.non_field_errors }}

                </div>

                {% endif %}

                <form method="post">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        {{ form.username }}

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        {{ form.password }}

                    </div>

                    <div class="d-grid mt-4">

                        <button type="submit" class="btn btn-primary btn-lg">
                            Login
                        </button>

                    </div>

                </form>

                <hr>

                <p class="text-center mb-0">

                    Don't have an account?

                    <a href="{% url 'signup' %}">
                        Create one
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}