{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

    <h1>Dashboard</h1>

    <hr>

    <h2>Total Attempts: {{ total_attempts }}</h2>

    <h2>Average Percentage: {{ average_percentage }}%</h2>

    <h2>Highest Score: {{ highest_score }}</h2>

    <h2>Lowest Score: {{ lowest_score }}</h2>

    <hr>

    <h2>
        Weakest Topic:
        {% if weak_topic %}
            {{ weak_topic }}
        {% else %}
            N/A
        {% endif %}
    </h2>

    <h2>
        Strongest Topic:
        {% if strong_topic %}
            {{ strong_topic }}
        {% else %}
            N/A
        {% endif %}
    </h2>

    <h2>
        Performance Grade:
        {{ grade }}
    </h2>

    <h2>
        Readiness Score:
        {{ readiness_score }}%
    </h2>

    <h2>
        Interview Readiness:
        {{ interview_readiness }}%
    </h2>

    <h2>
        Recommendation:
    </h2>

    <p>
        {{ recommendation }}
    </p>

    <hr>

    <h2>Recommended Resources</h2>

    {% if resources %}

        <ul>

            {% for resource in resources %}

                <li>
                    <a href="{{ resource.url }}" target="_blank">
                        {{ resource.title }}
                    </a>
                </li>

            {% endfor %}

        </ul>

    {% else %}

        <p>No recommendations available.</p>

    {% endif %}

    <hr>

    <h2>Performance Trend</h2>

    <canvas
        id="attemptChart"
        width="800"
        height="300">
    </canvas>

    <br><br>

    <h2>Topic Performance</h2>

    <canvas
        id="topicChart"
        width="800"
        height="300">
    </canvas>

    <script>

        const attemptLabels =
        {{ attempt_labels|safe }};

        const attemptScores =
        {{ attempt_scores|safe }};

        new Chart(
            document.getElementById('attemptChart'),
            {
                type: 'line',

                data: {
                    labels: attemptLabels,

                    datasets: [{
                        label: 'Percentage',
                        data: attemptScores
                    }]
                }
            }
        );

        const topicLabels =
        {{ topic_labels|safe }};

        const topicPercentages =
        {{ topic_percentages|safe }};

        new Chart(
            document.getElementById('topicChart'),
            {
                type: 'bar',

                data: {
                    labels: topicLabels,

                    datasets: [{
                        label: 'Topic Performance',
                        data: topicPercentages
                    }]
                }
            }
        );

    </script>

{% endblock %}